<section id="home">
  <div class="container d-flex justify-content-center align-items-center h-100 text-center">
    <div class=" home-contant ">
      <h1>
        Unlimited movies, TV <br> shows, and more.

      </h1>
      <h4>
        Watch anywhere. Cancel anytime.

      </h4>

    </div>
  </div>
</section>
<section class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <div>
          <h1>
            Enjoy on your TV.
          </h1>
          <h4>
            Watch on Smart TVs, Playstation, Xbox<br> , Chromecast, Apple TV, Blu-ray players, and more.

          </h4>
        </div>
      </div>
      <div class="col-md-6">
        <div class="position-relative">
          <img src="../../assets/image/tv.png" class="img-fluid x " alt="">
          <video class="  position-absolute video-pos2" playsinline loop  muted autoplay >
            <source src="../../assets/video/video-tv-0819.m4v" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ">
        <div>
          <img src="../../assets/image/mobile-0819.jpg"  class="img-fluid" alt="">
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div>
          <h1>
            Download your shows <br> to watch offline.        </h1>
          <h4>
            Save your favorites easily and always have <br> to watch.
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <div>
          <h1>
            Watch everywhere.          </h1>
          <h4>
            Stream unlimited movies and TV shows on <br> your phone, tablet, laptop, and TV without <br> paying more.
          </h4>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="position-relative">
          <img src="../../assets/image/device-pile.png" class="img-fluid x  " alt="">
          <video class=" video-pos position-absolute" playsinline loop  muted autoplay >
            <source src="../../assets/video/video-devices.m4v" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div>
          <img src="../../assets/image/AAAABdFTpLmANuJpYneLq8L5m7CunMCi8e8Nl4y7xaPVWzG3IeoDoq17egTQAthApKg_4sdRWdwuR8KadWu1frjL3JQImpwq.png" class="img-fluid" alt="">
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div>
          <h1>
            Create profiles for kids.        </h1>
          <h4>
            Send kids on adventures with their favorite <br> characters in a space made just for them <br> —free with your membership.
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>

